<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Oral History</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h3> Add Oral History </h3>
    <p> Username/ Collection number </p>
    <p> Name (Last, First, Middle) </p>
    <p> YOB </p>
    <p> Date of interview (DD/MM/YYYY) </p> <p> Subject </p>
    <p> Collection </p>
    <p> Upload interview </p> 
    <p> Upload images </p>
 
    {% endblock %}
  </body>
</html>